/* style.css */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 22px;
}

h1, h2, h3 {
  font-family:  Chivo;
}

h1 {
  color:#FA8072;
}


p {
  color: white;
  opacity: .7;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: ##FA8072;
}

.container {
  width: 800px;
  margin: auto;
  align-content: center;
  text-align: center;
}

#banner{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  height:  200px;
  padding: 150px;
  text-align: center;
}

#banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

#banner p {
  color: white;
  font-size: 24px;
}


.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: #FA8072;
}


.CARD {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.CARD img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.CARD h3 {
  margin-bottom: 0;
  color:  #404042;
}

.CARD h3:hover {
  color: white;
  text-decoration:  underline;
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.CARD:hover {
  color: white;
  background-color: #FFA07A ;
}



#footer p {
  color:white;
  z-index: 7;
}

#footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
  z-index: 1;
}



@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}



@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
